.rating {
    display: flex;
    gap: 2px;

    @media screen and (min-width: 1440px) {
        gap: 4px;
        margin-top: 21px;
    }

    .star {
        fill: #e3e3e3;
    }

    svg {
        @media screen and (min-width: 1440px) {
            width: 36px;
            height: 36px;
        }
    }

    .filled {
        fill: #ff6060;
    }
}
