.location {
    margin-top: 22px;

    @media screen and (min-width: 1440px) {
        background-color: #f6f6f6;
        border-radius: 25px;
        padding: 56px 50px 43px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 1440px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 60px;
        }

        .card {
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            max-height: 255px;
            height: 255px;
            cursor: pointer;
            background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(10, 10, 10, 0) 42%,
                rgba(4, 4, 4, 0.205) 99.99%,
                rgba(0, 0, 0, 0.5) 100%
            );

            @media screen and (min-width: 1440px) {
                max-height: 340px;
                height: 340px;
                max-width: 340px;
                width: 100%;
                & img {
                    object-fit: cover;
                }
            }

            img {
                object-fit: cover;
            }

            .h2 {
                position: absolute;
                bottom: 15px;
                left: 20px;
                color: white;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 25.67px;
                max-width: 295px;

                @media screen and (min-width: 1440px) {
                    font-size: 18px;
                    line-height: 25.67px;
                    max-width: 300px;
                }
            }
        }
    }
}
